<html>
	<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160836994-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-160836994-1');
	</script>
	
	<meta charset="UTF-8">
	<title>Fique em Casa!</title>
	<link rel="apple-touch-icon" sizes="57x57" href="img/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/icon/favicon-16x16.png">
	<link rel="manifest" href="img/icon/manifest.json">
	<meta name="msapplication-TileColor" content="#f13c20">
	<meta name="msapplication-TileImage" content="img/icon/ms-icon-144x144.png">
	<meta name="theme-color" content="#f13c20">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="shortcut icon" href="">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">

	<meta name="theme-color" content="#f13c20">
	
	<meta name="author" content="Fique em casa!!!">
	<meta name="title"                  content="Fique em casa!!!"/>
	<meta name="description"            content="Informações úteis para quem fica em casa a cumprir isolamento obrigatório ou quarentena. Caldas da Rainha e arredores."/>
	<meta name="keywords"               content="covid19, covid-19, fique em casa, ajuda, caldas da rainha,"/>
	<meta property="og:url"             content="https://fiqueemcasa.github.io/fiqueemcasa/" />
	<meta property="og:type"            content="website" />
	<meta property="og:title"           content="Fique em casa!!!" />
	<meta property="og:description"     content="Informações úteis para quem fica em casa a cumprir isolamento obrigatório ou quarentena. Caldas da Rainha e arredores." />
	<meta property="og:image"           content="https://fiqueemcasa.github.io/fiqueemcasa/img/ogimage.png" />
	<meta property="og:site_name"       content="Fique em Casa!!!" />
	<meta property="og:locale"          content="pt-PT" />
	<meta name="twitter:card"           content="summary">
	<meta name="twitter:site"           content="Fique em Casa!!!">
	<meta name="twitter:title"          content="Fique em Casa!!!">
	<meta name="twitter:description"    content="Informações úteis para quem fica em casa a cumprir isolamento obrigatório ou quarentena. Caldas da Rainha e arredores.">
	<meta name="twitter:creator"        content="NinjaCorp">

	<link rel="stylesheet" type="text/css" href="node_modules/slick-carousel/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="node_modules/slick-carousel/slick/slick-theme.css"/>
	<link rel="stylesheet" href="css/website-theme.css">
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">

	
	</head>
	<body>

	<div id="app">

			<nav class="navbar navbar-collapse-xl navbar-dark bg-dark sticky-top">
			<a class="navbar-brand" href=".">Fique em casa!!!</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item">
				  <a class="nav-link" href="#hipermercados">Hipermercados</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#minimercados">Minimercados</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#ajuda">Ajuda</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#farmacias">Farmácias</a>
				</li>
				 <li class="nav-item">
				  <a class="nav-link" href="#comidaemcasa">Comida em casa</a>
				</li>
				 <li class="nav-item">
				  <a class="nav-link" href="#animais">Animais</a>
				</li>
				 <li class="nav-item">
				  <a class="nav-link" href="#paraosmaisnovos">Para os mais novos</a>
				</li>
				 <li class="nav-item">
				  <a class="nav-link" href="#entretenimento">Entretenimento</a>
				</li>
				 <li class="nav-item">
				  <a class="nav-link" href="#tecnologia">Tecnologia</a>
				</li>
				 <li class="nav-item">
				  <a class="nav-link" href="#infocovid19">Info Covid-19</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#actividades">Actividades</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#papelaria">Papelaria</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#apps">Apps</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="sobre.html"><span class="text-light">Sobre o Fique em Casa!!!</span></a>
				</li>
			  </ul>
			 
			</div>
		  </nav>

		  <!--
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="jumbotron">
						<h1 class="display-4">Fique em Casa!!!</h1>
						<p class="lead">Informações úteis para quem fica em casa a cumprir isolamento obrigatório ou quarentena.<br>
						Caldas da Rainha e arredores.
						</p>
						<hr class="my-4">
						<p>Última actualização: 18 de Março 2020 - 09:24</p>
						<a class="btn btn-primary btn-lg" href="mailto:emcasafique@gmail.com" role="button">Envie sugestões</a>
					  </div>
				</div>
			</div>
		</div>
	-->

		<!-- HEADER /////////////////////////////////////////////////////////// -->
		<!-- HEADER /////////////////////////////////////////////////////////// -->
		<!-- HEADER /////////////////////////////////////////////////////////// -->
		<!-- HEADER /////////////////////////////////////////////////////////// -->
		<div class="container-fluid pt-4 pb-4 mb-4" id="header">
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-3"></div>
					<div class="col-12 col-sm-6">
						<img src="img/header_fiqueemcasa.png" alt="Fique em Casa!!!" class="img-fluid">
					</div>
					<div class="col-12 col-sm-3"></div>
				</div>
				<div class="row">
					<div class="col-12 text-center text-light pt-3">
						Informações úteis para quem fica em casa a cumprir isolamento obrigatório ou quarentena.<br>
						Caldas da Rainha e arredores.
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center text-light mt-3">
						<p><span class="badge badge-dark p-2">Última actualização: 22 de Março 2020 - 12:41</span></p>
						<a class="btn btn-primary btn-lg" href="mailto:emcasafique@gmail.com" role="button">Envie sugestões</a>
					</div>
				</div>
			</div>
		</div>


		<!-- AVISOS /////////////////////////////////////////////////////////// -->
		<!-- AVISOS /////////////////////////////////////////////////////////// -->
		<!-- AVISOS /////////////////////////////////////////////////////////// -->
		<!-- AVISOS /////////////////////////////////////////////////////////// -->


		<div class="container">
			
			<div class="row">
				<div class="col-12">
					<div class="alert alert-danger" role="alert">
						<p><strong>Dados Covid-19</strong> - 1280 casos confirmados - 12 Óbitos - 9854 casos supeitos</p>
						<a target="_blank" href="https://esriportugal.maps.arcgis.com/apps/opsdashboard/index.html#/acf023da9a0b4f9dbb2332c13f635829" class="card-link">Site</a>
					</div>
				</div>
				
			</div>
		</div>


		<!-- DESTAQUES /////////////////////////////////////////////////////////// -->
		<!-- DESTAQUES /////////////////////////////////////////////////////////// -->
		<!-- DESTAQUES /////////////////////////////////////////////////////////// -->
		<!-- DESTAQUES /////////////////////////////////////////////////////////// -->

		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-bullhorn"></i> Destaques / Novas entradas</h2>
					<br>
				</div>
			</div>
			<div class="row destaques">

				
			<!-- card -->
			 <template v-for="item in destaques">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->

					
			</div>
		</div>


		<!-- HIPERMERCADOS /////////////////////////////////////////////////////////// -->
		<!-- HIPERMERCADOS /////////////////////////////////////////////////////////// -->
		<!-- HIPERMERCADOS /////////////////////////////////////////////////////////// -->
		<!-- HIPERMERCADOS /////////////////////////////////////////////////////////// -->
		<a id="hipermercados"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-shopping-cart"></i> Hipermercados</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			 <template v-for="item in hipermercados">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->
	

			</div>
		</div>


		<!-- MINIMERCADOS /////////////////////////////////////////////////////////// -->
		<!-- MINIMERCADOS /////////////////////////////////////////////////////////// -->
		<!-- MINIMERCADOS /////////////////////////////////////////////////////////// -->
		<!-- MINIMERCADOS /////////////////////////////////////////////////////////// -->
		<a id="minimercados"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-shopping-basket"></i> Minimercados</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			 <template v-for="item in minimercados">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->

				
			</div>
		</div>


		<!-- AJUDA /////////////////////////////////////////////////////////// -->
		<!-- AJUDA /////////////////////////////////////////////////////////// -->
		<!-- AJUDA /////////////////////////////////////////////////////////// -->
		<!-- AJUDA /////////////////////////////////////////////////////////// -->
		<a id="ajuda"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-life-ring"></i> Ajuda</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in ajuda">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->
				

			</div>
		</div>


		<!-- FARMÁCIAS /////////////////////////////////////////////////////////// -->
		<!-- FARMÁCIAS /////////////////////////////////////////////////////////// -->
		<!-- FARMÁCIAS /////////////////////////////////////////////////////////// -->
		<!-- FARMÁCIAS /////////////////////////////////////////////////////////// -->
		<a id="farmacias"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-medkit"></i>  Farmácias</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in farmacias">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->

			</div>
		</div>



		<!-- COMIDA EM CASA /////////////////////////////////////////////////////////// -->
		<!-- COMIDA EM CASA /////////////////////////////////////////////////////////// -->
		<!-- COMIDA EM CASA /////////////////////////////////////////////////////////// -->
		<!-- COMIDA EM CASA /////////////////////////////////////////////////////////// -->
		<a id="comidaemcasa"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-cutlery"></i>  Comida em casa</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in comidaemcasa">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->
		

			</div>
		</div>



		<!-- ANIMAIS /////////////////////////////////////////////////////////// -->
		<!-- ANIMAIS /////////////////////////////////////////////////////////// -->
		<!-- ANIMAIS /////////////////////////////////////////////////////////// -->
		<!-- ANIMAIS /////////////////////////////////////////////////////////// -->
		<a id="animais"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-paw"></i>  Animais</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in animais">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->

			</div>
		</div>




		<!-- PARA OS MAIS NOVOS /////////////////////////////////////////////////////////// -->
		<!-- PARA OS MAIS NOVOS /////////////////////////////////////////////////////////// -->
		<!-- PARA OS MAIS NOVOS /////////////////////////////////////////////////////////// -->
		<!-- PARA OS MAIS NOVOS /////////////////////////////////////////////////////////// -->
		<a id="paraosmaisnovos"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-child"></i> Para os mais novos</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in paraosmaisnovos">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->

			</div>
		</div>



		<!-- ENTRETENIMENTO /////////////////////////////////////////////////////////// -->
		<!-- ENTRETENIMENTO /////////////////////////////////////////////////////////// -->
		<!-- ENTRETENIMENTO /////////////////////////////////////////////////////////// -->
		<!-- ENTRETENIMENTO /////////////////////////////////////////////////////////// -->
		<a id="entretenimento"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-music"></i>  Entretenimento</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in entretenimento">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->


			</div>
		</div>


		<!-- TECNOLOGIA /////////////////////////////////////////////////////////// -->
		<!-- TECNOLOGIA /////////////////////////////////////////////////////////// -->
		<!-- TECNOLOGIA /////////////////////////////////////////////////////////// -->
		<!-- TECNOLOGIA /////////////////////////////////////////////////////////// -->
		<a id="tecnologia"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-laptop"></i> Tecnologia</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in tecnologia">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->
			
			</div>
		</div>


		<!-- INFO COVID19 /////////////////////////////////////////////////////////// -->
		<!-- INFO COVID19 /////////////////////////////////////////////////////////// -->
		<!-- INFO COVID19 /////////////////////////////////////////////////////////// -->
		<!-- INFO COVID19/////////////////////////////////////////////////////////// -->
		<a id="infocovid19"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-info-circle"></i>  Informações Covid-19</h2>
					<br>
				</div>
			</div>
			<div class="row">

			<!-- card -->
			<template v-for="item in infocovid19">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->
				

			</div>
		</div>
	


		<!-- FITNESS /////////////////////////////////////////////////////////// -->
		<!-- FITNESS /////////////////////////////////////////////////////////// -->
		<!-- FITNESS /////////////////////////////////////////////////////////// -->
		<!-- FITNESS/////////////////////////////////////////////////////////// -->
		<a id="fitness"></a>
		  <div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2> <i class="fa fa-heart"></i> Fitness</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in fitness">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->


			</div>
		</div>


		<!-- ACTIVIDADES /////////////////////////////////////////////////////////// -->
		<!-- ACTIVIDADES /////////////////////////////////////////////////////////// -->
		<!-- ACTIVIDADES /////////////////////////////////////////////////////////// -->
		<!-- ACTIVIDADES/////////////////////////////////////////////////////////// -->
		<a id="actividades"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2> <i class="fa fa-smile-o"></i> Actividades</h2>
					<br>
				</div>
			</div>
			<div class="row">



			<!-- card -->
			<template v-for="item in actividades">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->
				
			
			</div>
		</div>

		<!-- AJUDA /////////////////////////////////////////////////////////// -->
		<!-- AJUDA /////////////////////////////////////////////////////////// -->
		<!-- AJUDA /////////////////////////////////////////////////////////// -->
		<!-- AJUDA /////////////////////////////////////////////////////////// -->
		<a id="papelaria"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-life-ring"></i> Papelaria</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in papelaria">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->
			

			</div>
		</div>



		<!-- APPS /////////////////////////////////////////////////////////// -->
		<!-- APPS /////////////////////////////////////////////////////////// -->
		<!-- APPS /////////////////////////////////////////////////////////// -->
		<!-- APPS/////////////////////////////////////////////////////////// -->
		<a id="apps"></a>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12">
					<h2><i class="fa fa-mobile-phone"></i> Apps</h2>
					<br>
				</div>
			</div>
			<div class="row">


			<!-- card -->
			<template v-for="item in apps">
				 <div class="col-12 col-md-4 mb-4">
					<div class="card w-100">
						<img v-bind:src="item.imagem" class="card-img-top" v-bind:alt="item.nome">
						<div class="card-body">
							<h5 class="card-title">{{ item.nome }}</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ item.categoria }}</h6>
							<p class="card-text">{{ item.desc }}</p>
							<a v-if="item.linkUm" target="_blank" v-bind:href="item.linkUm" class="card-link">{{ item.linkUmTxt }}</a>
							<a v-if="item.linkDois" target="_blank" v-bind:href="item.linkDois" class="card-link">{{ item.linkDoisTxt }}</a>
							<a v-if="item.linkTres" target="_blank" v-bind:href="item.linkTres" class="card-link">{{ item.linkTresTxt }}</a>
						</div>
					</div>
				</div>
			</template>
			<!-- fim de card -->

			</div>
		</div>


		<!-- footer -->
		<div class="conatiner-fluid bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-12 p-5 text-center">
						<p class="text-light">Por todos e para todos - 2020 - Fique em Casa!!! </p>
						<p class="text-light"><a class="btn btn-primary" href="mailto:emcasafique@gmail.com">Sugestões por email</a></p>
						<p class="text-light"><a href="sobre.html">Sobre o Fique em Casa!!!</a></p>
					</div>
				</div>
			</div>
		</div>


<!-- teste de vue -->
	

		
		<!--
		<button v-on:click="isHidden = true">Caldas</button>
		<button v-on:click="isHidden = false">Nacional</button>

		<button v-on:click="isHidden = !isHidden">Toggle hide and show</button>
		  
		<h1 v-if="!isHidden">Nacional</h1>
		<h1 v-if="isHidden">Caldas da Rainha</h1>
	-->
		<!-- fim de teste de vue -->
	
</div><!-- fim de app vue -->
		
		<script src="node_modules/vue/dist/vue.min.js"></script>
		<!--<script src="node_modules/vue/dist/vue.js"></script>-->
		<!--<script src="node_modules/axios/dist/axios.min.js"></script>-->
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
		<script src="node_modules/slick-carousel/slick/slick.min.js"></script>
		<script src="app.js"></script>

		<script>
		$('.destaques').slick({
		  dots: true,
		  infinite: true,
		  speed: 300,
		  slidesToShow: 3,
		  slidesToScroll: 1,
		  arrows: true,
		  autoplay: true,
		  autoplaySpeed: 2000,
		  responsive: [
			{
			  breakpoint: 1024,
			  settings: {
				slidesToShow: 2,
				slidesToScroll: 1,
				infinite: true,
				arrows: true,
				autoplay: true,
				autoplaySpeed: 2000,
				dots: true
			  }
			},
			{
			  breakpoint: 768,
			  settings: {
				slidesToShow: 1,
				slidesToScroll: 1,
				infinite: true,
				autoplay: true,
				autoplaySpeed: 2000,
				arrows: false
			  }
			},
			{
			  breakpoint: 480,
			  settings: {
				slidesToShow: 1,
				infinite: true,
				autoplay: true,
				autoplaySpeed: 2000,
				slidesToScroll: 1
			  }
			}
			// You can unslick at a given breakpoint now by adding:
			// settings: "unslick"
			// instead of a settings object
		  ]
		});

		$('.navbar-nav>li>a').on('click', function(){
			$('.navbar-collapse').collapse('hide');
		});
			
		
		</script>

		
	</body>
	</html>